# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
expenses.db

# Virtual Environments
venv/
.venv/
env/
.env/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS-specific files
.DS_Store
Thumbs.db
